# Ignore backup files
*~
*.bak
*.swp
*.swo
*.tmp
./archive/
# Ignore log files
*.log

# Ignore shell history files
.bash_history
.bash_logout
.bashrc
.bash_profile
.profile
.history

# Ignore compiled binaries (just in case)
*.out
*.o
*.exe

# Ignore macOS-specific files
.DS_Store

# Ignore environment-specific files
.env
.envrc
