/* styles.css */

/* General layout */

Screen {
    layout: vertical;
    align: center middle;
    padding: 1 2;
}

#quiz-container {
    align: center middle;
    max-width: 80;
    width: 100%;
    margin: 1 2;
}

#quiz-summary {
    height: 1fr;               /* fill remaining space */
    overflow-y: auto;          /* enable vertical scroll */
    scrollbar-gutter: stable;  /* keep scroll space consistent */
}


#progress {
    text-align: center;
    padding: 1;
}


/* Quiz title styling */
#title {
    max-width: 80;
    text-align: center;
    padding: 1 0;
    /*align: center middle;*/
    /*color: yellow;*/
    color: ansi_bright_green;
    background: #1e1e1e;
    text-style: bold;
    height: 5;
    border: round white;
    margin: 1 0;
}

/* Question prompt */
Static {
    padding: 1;
    text-style: bold;
    color: yellow;
    background: #1e1e1e;
}

/* Option buttons */
Button {
    margin: 1 0;
    border: round;
    background: #2c2c2c;
    color: white;
}

Button:hover {
    background: #444444;
    text-style: bold;
    color: cyan;
}

Button.selected {
    background: darkgreen;
    color: white;
    text-style: bold;
}

.nav-btn {
    margin: 0 1;
}


/* Result screen */
#result {
    content-align: center middle;
    text-style: bold;
    color: magenta;
}


